In [6]:
#importando a biblioteca pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf

sns.set(style='whitegrid')

In [8]:
#carregar arquivo csv
#vai converter o arquivo em um dataframe(df)

df = pd.read_csv("CONSISTENCIA_ENEM_ESCOLA_2013.csv")

,ID_ENEM_ESCOLA,NU_INSCRICAO,NU_ANO,COD_ESCOLA,COD_UF_ESC,ID_LOCALIZACAO_ESC,ID_DEPENDENCIA_ADM_ESC
0,1,130005767149,2013,11000058,11,1,4
1,2,130005864399,2013,11000058,11,1,4
2,3,130005948556,2013,11000058,11,1,4
3,4,130006015849,2013,11000058,11,1,4
4,5,130006076234,2013,11000058,11,1,4
5,6,130006109389,2013,11000058,11,1,4
6,7,130006132871,2013,11000058,11,1,4
7,8,130006163723,2013,11000058,11,1,4
8,9,130006190367,2013,11000058,11,1,4
9,10,130006217511,2013,11000058,11,1,4
10,11,130006244317,2013,11000058,11,1,4
11,12,130006256054,2013,11000058,11,1,4
12,13,130006333753,2013,11000058,11,1,4
13,14,130006376391,2013,11000058,11,1,4
14,15,130006433922,2013,11000058,11,1,4
15,16,130006487007,2013,11000058,11,1,4
16,17,130006580752,2013,11000058,11,1,4
17,18,130006610819,2013,11000058,11,1,4
18,19,130006636009,2013,11000058,11,1,4
19,20,130006652220,2013,11000058,11,1,4
20,21,130006709768,2013,11000058,11,1,4
21,22,130006778893,2013,11000058,11,1,4
22,23,130006935220,2013,11000058,11,1,4
23,24,130006945730,2013,11000058,11,1,4
24,25,130006970869,2013,11000058,11,1,4
25,26,130006988218,2013,11000058,11,1,4
26,27,130007307862,2013,11000058,11,1,4
27,28,130007308677,2013,11000058,11,1,4
28,29,130007318915,2013,11000058,11,1,4
29,30,130007406053,2013,11000058,11,1,4
...,...,...,...,...,...,...,...
878823,878824,130012121643,2013,53068181,53,1,2
878824,878825,130012158906,2013,53068181,53,1,2
878825,878826,130012159684,2013,53068181,53,1,2
878826,878827,130012178392,2013,53068181,53,1,2
878827,878828,130012207741,2013,53068181,53,1,2
878828,878829,130012223934,2013,53068181,53,1,2
878829,878830,130012228861,2013,53068181,53,1,2
878830,878831,130012241280,2013,53068181,53,1,2
878831,878832,130012242432,2013,53068181,53,1,2
878832,878833,130012295181,2013,53068181,53,1,2
878833,878834,130012342046,2013,53068181,53,1,2
878834,878835,130012375291,2013,53068181,53,1,2
878835,878836,130012400632,2013,53068181,53,1,2
878836,878837,130012403043,2013,53068181,53,1,2
878837,878838,130012414150,2013,53068181,53,1,2
878838,878839,130012442707,2013,53068181,53,1,2
878839,878840,130012496817,2013,53068181,53,1,2
878840,878841,130012549882,2013,53068181,53,1,2
878841,878842,130012601573,2013,53068181,53,1,2
878842,878843,130012665714,2013,53068181,53,1,2
878843,878844,130012680208,2013,53068181,53,1,2
878844,878845,130012682341,2013,53068181,53,1,2
878845,878846,130012690624,2013,53068181,53,1,2
878846,878847,130012726281,2013,53068181,53,1,2
878847,878848,130012752912,2013,53068181,53,1,2
878848,878849,130012823608,2013,53068181,53,1,2
878849,878850,130012827474,2013,53068181,53,1,2
878850,878851,130012829394,2013,53068181,53,1,2
878851,878852,130012865488,2013,53068181,53,1,2
878852,878853,130012895451,2013,53068181,53,1,2

In [11]:
# mostra um resumo do arquivo
df

,ID_ENEM_ESCOLA,NU_INSCRICAO,NU_ANO,COD_ESCOLA,COD_UF_ESC,ID_LOCALIZACAO_ESC,ID_DEPENDENCIA_ADM_ESC
0,1,130005767149,2013,11000058,11,1,4
1,2,130005864399,2013,11000058,11,1,4
2,3,130005948556,2013,11000058,11,1,4
3,4,130006015849,2013,11000058,11,1,4
4,5,130006076234,2013,11000058,11,1,4
5,6,130006109389,2013,11000058,11,1,4
6,7,130006132871,2013,11000058,11,1,4
7,8,130006163723,2013,11000058,11,1,4
8,9,130006190367,2013,11000058,11,1,4
9,10,130006217511,2013,11000058,11,1,4
10,11,130006244317,2013,11000058,11,1,4
11,12,130006256054,2013,11000058,11,1,4
12,13,130006333753,2013,11000058,11,1,4
13,14,130006376391,2013,11000058,11,1,4
14,15,130006433922,2013,11000058,11,1,4
15,16,130006487007,2013,11000058,11,1,4
16,17,130006580752,2013,11000058,11,1,4
17,18,130006610819,2013,11000058,11,1,4
18,19,130006636009,2013,11000058,11,1,4
19,20,130006652220,2013,11000058,11,1,4
20,21,130006709768,2013,11000058,11,1,4
21,22,130006778893,2013,11000058,11,1,4
22,23,130006935220,2013,11000058,11,1,4
23,24,130006945730,2013,11000058,11,1,4
24,25,130006970869,2013,11000058,11,1,4
25,26,130006988218,2013,11000058,11,1,4
26,27,130007307862,2013,11000058,11,1,4
27,28,130007308677,2013,11000058,11,1,4
28,29,130007318915,2013,11000058,11,1,4
29,30,130007406053,2013,11000058,11,1,4
...,...,...,...,...,...,...,...
878823,878824,130012121643,2013,53068181,53,1,2
878824,878825,130012158906,2013,53068181,53,1,2
878825,878826,130012159684,2013,53068181,53,1,2
878826,878827,130012178392,2013,53068181,53,1,2
878827,878828,130012207741,2013,53068181,53,1,2
878828,878829,130012223934,2013,53068181,53,1,2
878829,878830,130012228861,2013,53068181,53,1,2
878830,878831,130012241280,2013,53068181,53,1,2
878831,878832,130012242432,2013,53068181,53,1,2
878832,878833,130012295181,2013,53068181,53,1,2
878833,878834,130012342046,2013,53068181,53,1,2
878834,878835,130012375291,2013,53068181,53,1,2
878835,878836,130012400632,2013,53068181,53,1,2
878836,878837,130012403043,2013,53068181,53,1,2
878837,878838,130012414150,2013,53068181,53,1,2
878838,878839,130012442707,2013,53068181,53,1,2
878839,878840,130012496817,2013,53068181,53,1,2
878840,878841,130012549882,2013,53068181,53,1,2
878841,878842,130012601573,2013,53068181,53,1,2
878842,878843,130012665714,2013,53068181,53,1,2
878843,878844,130012680208,2013,53068181,53,1,2
878844,878845,130012682341,2013,53068181,53,1,2
878845,878846,130012690624,2013,53068181,53,1,2
878846,878847,130012726281,2013,53068181,53,1,2
878847,878848,130012752912,2013,53068181,53,1,2
878848,878849,130012823608,2013,53068181,53,1,2
878849,878850,130012827474,2013,53068181,53,1,2
878850,878851,130012829394,2013,53068181,53,1,2
878851,878852,130012865488,2013,53068181,53,1,2
878852,878853,130012895451,2013,53068181,53,1,2

In [12]:
# mostra as 5 primeiras linhas

df. head()

,ID_ENEM_ESCOLA,NU_INSCRICAO,NU_ANO,COD_ESCOLA,COD_UF_ESC,ID_LOCALIZACAO_ESC,ID_DEPENDENCIA_ADM_ESC
0,1,130005767149,2013,11000058,11,1,4
1,2,130005864399,2013,11000058,11,1,4
2,3,130005948556,2013,11000058,11,1,4
3,4,130006015849,2013,11000058,11,1,4
4,5,130006076234,2013,11000058,11,1,4

In [13]:
# ultimas 5 linhas
df.tail()

,ID_ENEM_ESCOLA,NU_INSCRICAO,NU_ANO,COD_ESCOLA,COD_UF_ESC,ID_LOCALIZACAO_ESC,ID_DEPENDENCIA_ADM_ESC
878848,878849,130012823608,2013,53068181,53,1,2
878849,878850,130012827474,2013,53068181,53,1,2
878850,878851,130012829394,2013,53068181,53,1,2
878851,878852,130012865488,2013,53068181,53,1,2
878852,878853,130012895451,2013,53068181,53,1,2

In [14]:
# escolher o intervalo de linhas e quantidades de coluna

df.iloc [100:150,:2]

     ID_ENEM_ESCOLA  NU_INSCRICAO
100             101  130010330673
101             102  130010339803
102             103  130010376798
103             104  130010380921
104             105  130010404968
105             106  130010405488
106             107  130010495366
107             108  130010647294
108             109  130010676323
109             110  130010684065
110             111  130010689259
111             112  130010694321
112             113  130010757333
113             114  130010818467
114             115  130010918109
115             116  130010973291
116             117  130011109931
117             118  130011133727
118             119  130011161634
119             120  130011189371
120             121  130011209981
121             122  130011450227
122             123  130011488036
123             124  130011491850
124             125  130011539635
125             126  130011630391
126             127  130011647196
127             128  130011720590
128             129  130011748477
129             130  130011805947
130             131  130011807808
131             132  130011863598
132             133  130011864421
133             134  130011877742
134             135  130011893717
135             136  130011904237
136             137  130011908310
137             138  130011911081
138             139  130011934907
139             140  130011942491
140             141  130011963784
141             142  130011965996
142             143  130011977335
143             144  130011978151
144             145  130012009462
145             146  130012085207
146             147  130012164678
147             148  130012166956
148             149  130012189424
149             150  130012237879

In [15]:
#nome das colunas no conjunto de dados
df.columns

Index(['ID_ENEM_ESCOLA', 'NU_INSCRICAO', 'NU_ANO', 'COD_ESCOLA', 'COD_UF_ESC',
       'ID_LOCALIZACAO_ESC', 'ID_DEPENDENCIA_ADM_ESC'],
      dtype='object')

In [16]:
#contar as linhs de cada coluna?
df.count()

ID_ENEM_ESCOLA            878853
NU_INSCRICAO              878853
NU_ANO                    878853
COD_ESCOLA                878853
COD_UF_ESC                878853
ID_LOCALIZACAO_ESC        878853
ID_DEPENDENCIA_ADM_ESC    878853
dtype: int64

In [17]:
#resumo estatístico
df.ID_LOCALIZACAO_ESC.describe()

count    878853.000000
mean          1.021388
std           0.144674
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           2.000000
Name: ID_LOCALIZACAO_ESC, dtype: float64

In [18]:
# mediana
df.NU_ANO.median()

2013.0

In [19]:
#valor max
df.NU_ANO.max()

2013

In [20]:
#valor minimo

df.NU_ANO.min()

2013

In [21]:
#média
df.NU_ANO.mean()

2013.0

In [22]:
df.dtypes

ID_ENEM_ESCOLA            int64
NU_INSCRICAO              int64
NU_ANO                    int64
COD_ESCOLA                int64
COD_UF_ESC                int64
ID_LOCALIZACAO_ESC        int64
ID_DEPENDENCIA_ADM_ESC    int64
dtype: object

AttributeError: 'DataFrame' object has no attribute 'cpr'